.heading {

    /* This guy isn't seeing my style.css at all. #sad */
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

    .main_body{
        background-color: honeydew;

    }